II# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sublime-workspace

*.pyc

2017i
~$*.xlsx
~$*.docx
.vscode
source/_drafts/2018i
source/_attachment/_CFile/rtprice.csv
.DS_Store
